* {
  font-family: Tahoma, Verdana, sans-serif;
}

h1 {
  text-align: center;
}

li a {
  font-size: 24px;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

.home,
.recipe {
  display: block;
}

.home {
  height: auto;
  width: 300px;
}

.recipe {
  margin-left: auto;
  margin-right: auto;
}

.main {
  margin-left: 10%;
  margin-right: 10%;
}

#homepage {
  background-color: mintcream;
}

#homepage ul {
  list-style-type: none;
}

#guac img {
  margin-left: 1%;
}

#guac a {
  margin-left: 8%;
}

#vbm img {
  margin-left: 36%;
}

#vbm a {
  margin-left: 42%;
}

#ccc img {
  margin-left: 72%;
}

#ccc a {
  margin-left: 74%;
}

#guac-page {
  background-color: rgb(230, 255, 190);
}

#vbm-page {
  background-color: rgb(255, 230, 194);
}

#ccc-page {
  background-color: rgb(255, 237, 176);
}
